<%= content_for(:title) do %>
  Washed - Mon profil
<% end %>


<%= render 'layouts/form_wrapper_beginning' %>

<h2>Compléter mon profil</h2>

<%= render "form" %>

<%= render 'layouts/form_wrapper_end' %>