<h1>Si toi aussi t'en as marre de faire tes machines ! Bienvenue !</h1>

<p>
  <%= @user.email %>, vous venez de vous simplifier la vie, comme jamais !</p>
  <p>Prenez quelques instants pour éditer votre profil <%= link_to "here", edit_profile_url(@user) %> </p>

