<h1>Si toi aussi t'en as marre de faire tes machines ! Bienvenue !</h1>

<p>
  <%= @user.email %>, vous venez de vous simplifier la vie, comme jamais !</p>
  <p> Rejoignez la communauté wash et commandez votre machine sur le site
      <%= link_to "wash", root_url %>    </p>

