<div class="container">
  <div class="row">
    <div class="col-xs-5">

<h3>Les commandes de <%= @profile.first_name %> sont </h3>


<ul>
  <% @orders.each do |order| %>
    <li><%= order.id %></li>
    <li><%= order.temperature %></li>
  <% end %>
</ul>


    </div>
  </div>
</div>
