<%= content_for(:title) do %>
  Contact - Washed
<% end %>

<div class="banner banner-contact">
  <div class="container text-center">
    <h1>CONTACT</h1>
  </div>
</div>

<div class="spacer"></div>

<div class="container">
  <p>Une question, une remarque, une suggestion ou une lettre d’amour ? Nous sommes là pour vous répondre.</p>
  <ul>
    <li>Service client : écrivez à <a href="mailto:maxime@washed.fr">maxime@washed.fr</a> ou appelez-le au <a href="tel:0619101336">0619101336</a></li>
    <li>Presse : écrivez à <a href="mailto:presse@washed.fr">presse@washed.fr</a></li>
    <li>Emplois : pour postuler, soumettez votre candidature à <a href="mailto:jobs@washed.fr">jobs@washed.fr</a></li>
    <li>Partenariats : envoyez vos idées et propositions à <a href="mailto:partnership@washed.fr">partnership@washed.fr</a></li>
  </ul>
  <p>Pour toute autre question, ou juste nous dire bonjour, utilisez l’adresse <a href="mailto:contact@washed.fr">contact@washed.fr</a></p>
</div>