<div class="banner banner-faq">
  <div class="container text-center">
    <h1>FAQ</h1>
  </div>
</div>

<div class="spacer"></div>

<div class="container">
    <h3>Comment récupérez-vous mon sac de linge ?</h3>
    <p>Vous passez votre commande sur notre site, au moment de finaliser l'achat, vous nous indiquez l'heure à laquelle vous voulez que notre livreur passe et puis c'est tout !</p>

    <div class="spacer"></div>

    <h3>Quelles contenances ont vos machines ?</h3>
    <p>Nos machines font toutes 6 kg pour vous permettre de faire des machines plus souvent et d’avoir vos vêtements préférés quand vous voulez !</p>

    <div class="spacer"></div>

    <h3>Que se passe-t-il si mes vêtements sont abimés ?</h3>
    <p>Si c'est une erreur de notre par alors nous vous rembourserons les vêtements endommagés.</br>
      Si c'est une erreur de votre par alors c'est comme à la maison, vous pouvez être triste.</p>

    <div class="spacer"></div>

    <h3>Je n'habite pas dans le 16ème arrondissement de Paris, puis-je tout de même en bénéficier ?</h3>
    <p>Nous sommes actuellement en activité dans le 16ème arrondissement de Paris, nous allons ouvrir prochainement dans de futurs arrondissements. Notre service est uniquement sur invitation, inscrivez-vous pour en bénéficier dès notre sortie dans votre quartier : inscription.washed.fr.</p>

    <div class="spacer"></div>

  <div class="text-center bold">
      <div class="spacer"></div>

      <p>On ne répond pas à une de vos questions ?<br>
         Posez-là à Maxime sur <a href="mailto:maxime@washed.fr">maxime@washed.fr</a> !</p>

      <div class="spacer"></div>
    </div>
</div>