<%= content_for(:title) do %>
  FAQ - Washed
<% end %>

<div class="banner banner-faq">
  <div class="container text-center">
    <h1>FAQ</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 padding-right">
      <h4>Débuter avec Washed</h4>
      <p id="question1" class="pointer">Comment s’inscrire sur Washed ?</p>
      <p class="hidden" id="answer1">Pour <%= link_to 's’inscrire sur Washed', new_user_registration_path %>, rien de plus simple, il vous suffit d’entrer votre adresse mail et votre mot de passe. </p>
      <p id="question2" class="pointer">Comment faire sa première commande ?</p>
      <p class="hidden" id="answer2">Afin de réaliser votre première machine vous devez avoir <%= link_to 'créé un profil', new_profile_path %> : prénom, nom, téléphone, adresse, code postal et ville. Ensuite rien de plus facile, vous choisissez une date et un créneau horaire pour la collecte ainsi que la restitution de vos vêtements. Notre washer s’occupe du reste !</p>
      <br>
      <h4>L'assurance Washed</h4>
      <p id="question3" class="pointer">Que se passe-t-il si mes vêtements sont abimés ?</p>
      <p class="hidden" id="answer3">Si c'est une erreur de notre part : nous vous remboursons la totalité des vêtements endommagés.Si c'est une erreur de votre part : c'est comme à la laverie, il faudra penser à racheter le vêtement endommagé. Par contre, si nous remarquons que le programme que vous avez choisi n'est pas adapté, nous vous le signalons avant de lancer la machine.</p>
      <p id="question4" class="pointer">Peut-on avoir une lingette anti-décoloration ?</p>
      <p class="hidden" id="answer4">Oui, la lingette anti-décoloration et la lessive sont comprises.</p>
      <p id="question5" class="pointer">Je n'habite pas à Paris, puis-je tout de même bénéficier du service ?</p>
      <p class="hidden" id="answer5">Nous sommes actuellement en activité dans Paris intra-muros et nous allons très prochainement étendre notre activité à toute l’Ile de France et à plusieurs grandes villes (Marseille, Lyon, Lille, Bordeaux).</p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h4>L'offre Washed</h4>
      <p id="question6" class="pointer">Quel est le prix d’une machine ? </p>
      <p class="hidden" id="answer6">Le service Wash commence à seulement 6 € ! Si vous avez besoin de la lessive et de la lingette anti-décoloration, la commande est à 7 € !</p>
      <p id="question7" class="pointer">Quand passez-vous prendre mon linge ?</p>
      <p class="hidden" id="answer7">Nos livreurs passent de 18h à minuit chez vous 7 jours / 7.Vous pouvez commander pour le jour même. Vous choisissez l'heure de passage et l'adresse lors du processus de commande.</p>
      <p id="question8" class="pointer">Comment récupère-t-on son sac de linge ?</p>
      <p class="hidden" id="answer8">Au moment de finaliser votre commande, vous nous indiquez l'heure à laquelle vous souhaitez que notre livreur passe. Il faut au minimum 18 heures entre l’heure à laquelle nous récupérons votre linge et l’heure à laquelle nous vous le livrons. </p>
      <p id="question9" class="pointer">Quelles contenances ont vos machines ?</p>
      <p class="hidden" id="answer9">Nos machines font toutes 6 kg pour vous permettre de faire des machines plus souvent et d’avoir vos vêtements préférés quand vous voulez ! </p>
      <p id="question10" class="pointer">Comment séchez-vous les vêtements ?</p>
      <p class="hidden" id="answer10">Afin de ne pas abîmer vos vêtements, nous séchons vos vêtements dans une salle ventilée d'air chaud.</p>
      <p id="question11" class="pointer">Quelle est votre lessive ?</p>
      <p class="hidden" id="answer11">Nous utilisons une lessive fabriquée à base d'ingrédients d'origine naturelle végétale et de véritables copeaux de savon de Marseille, un savon aux propriétés détachantes.
      Notre lessive est certifiée par Ecocert qui sont des indépendants et des pros de l'environnement. Elle ne contient ni colorant, ni OGM, ni EDTA, ni azurant optique.</p>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-xs-12  col-sm-4 col-sm-offset-4 text-center">
      <p>On ne répond pas à une de vos questions ? Posez-nous là à <%= mail_to "contact@washed.fr" %></p>
    </div>
  </div>
</div>


<% content_for(:js) do %>
  <script>
    $(document).ready(function() {
    $('#question1').on('click', function(event) {
       $('#answer1').removeClass('hidden');
      });
    });

    $(document).ready(function() {
    $('#question2').on('click', function(event) {
       $('#answer2').removeClass('hidden');
      });
    });

    $(document).ready(function() {
    $('#question3').on('click', function(event) {
       $('#answer3').removeClass('hidden');
      });
    });

    $(document).ready(function() {
    $('#question4').on('click', function(event) {
       $('#answer4').removeClass('hidden');
      });
    });

    $(document).ready(function() {
    $('#question5').on('click', function(event) {
       $('#answer5').removeClass('hidden');
      });
    });

    $(document).ready(function() {
    $('#question6').on('click', function(event) {
       $('#answer6').removeClass('hidden');
      });
    });

    $(document).ready(function() {
    $('#question7').on('click', function(event) {
       $('#answer7').removeClass('hidden');
      });
    });

    $(document).ready(function() {
    $('#question8').on('click', function(event) {
       $('#answer8').removeClass('hidden');
      });
    });

    $(document).ready(function() {
    $('#question9').on('click', function(event) {
       $('#answer9').removeClass('hidden');
      });
    });

    $(document).ready(function() {
    $('#question10').on('click', function(event) {
       $('#answer10').removeClass('hidden');
      });
    });

    $(document).ready(function() {
    $('#question11').on('click', function(event) {
       $('#answer11').removeClass('hidden');
      });
    });
  </script>
<% end %>