@import "bootstrap-sprockets";
@import "font-awesome-sprockets";
@import "jquery-ui";
@import "bootstrap";

@import "font-awesome";
@import 'bootstrap-datetimepicker';

@import 'navbar';
@import 'footer';
@import 'home';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

$light-blue: #3498db;

body {
  font-family: 'Open Sans', sans-serif;
  margin-top: 60px;
}

.orders {
  background-color: rgba(240, 240, 240, 0.7) ;
  margin-top: 20px;
  padding: 20px 30px;
  border-radius: 2%;
}

.button-order {
  margin-bottom: 40px;
}

.button-fb {
  background-color: #4568B2;
}

.profile {
  background-color: #F5F5F5;
  border: 1px;
  border-radius: 2%;
  padding: 0 0 10px 20px;
}

.command-btn {
  background-color: #3498DB;
}

.orders a:hover {
  text-decoration: none;
  color: #3498DB;
}

.spacer {
  margin-top : 3em;
}

.banner {
  height: 250px;
  h1 {
    color: #fff;
    line-height: 250px;
  }
}

.banner-contact {
  background-image: image_url('banner_contact.jpeg');
}

.banner-faq {
  background-image: image_url('banner_faq.jpg');
}