@import "bootstrap-sprockets";
@import "font-awesome-sprockets";
@import "jquery-ui";
@import "bootstrap";

@import "font-awesome";
@import 'bootstrap-datetimepicker';

@import 'navbar';
@import 'footer';
@import 'home';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
  font-family: 'Open Sans', sans-serif;
}

.orders {
  background-color: rgba(240, 240, 240, 0.7) ;
  margin-top: 20px;
}

.button-order {
  margin-bottom: 40px;
}


.button-fb {
  background-color: #4568B2;
}

.spacer {
  margin-top : 4em;
}