footer {
  background-color: #3498db;
  color: #fff;
  margin-top: 40px;
  a {
    color: white;
    font-weight: 100;
    i {
      color: #fff;
      font-weight: 100;
      font-size: 2em;
      margin: 15px;
    }
    i:hover {
      color: #23527c;
      text-decoration: none;
    }
    h3 {
      font-weight: 700;
    }
  }
  a:hover {
    font-weight: bold;
    text-decoration: none;
  }
}