.jumbotron {
  background-image: image_url('homev2.jpg');
  background-size: cover;
  height: 630px;
  color: white;
  padding-top: 150px;
  text-shadow: 1px 1px 3px rgb(80, 80, 80);
}

#pricing-scroll-helper {
  position: relative;
  bottom: 100px;
}

#how-it-works-scroll-helper{
  position: relative;
  bottom: 100px;
}

.padding-top-down{
  padding-top: 80px;
  padding-bottom: 80px;
}

.features {
  padding: 0 20px;
}

.features2 {
  padding: 0 80px;
}

.comments {
  padding-top: 50px;
  padding-bottom: 20px;
}

.comment {
  padding: 0 70px;
}

.border img {
  border-radius: 50%;
  padding-bottom: 4px;
}

.lead {
  background: rgba(190, 190, 190, .7);
  display: inline-block;
}

.lead h3 {
  padding: 0.2em;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 2em;
}

.light-grey {
  background-color: #ecf0f1;
}

.spacer {
  margin-top : 3em;
}

.counter {
  h2 {
    color: $light-blue;
  }
  h4 {
    color: #7f8c8d;
  }
}


.label-default {
  background-color: rgba(231, 76, 60,0.8);
  font-size: 10px;
}

.paris {
  color: white;
  text-shadow: 1px 1px 3px rgb(80, 80, 80);
  background-color: rgba(231, 76, 60,0.7);
  float: left;
  margin-left: 60px;
  border-radius: 3%;
  padding-top: 10px;
  padding-left: 3px;
  padding-right: 3px;
   p {
    font-size: 0.9em;
   }
}

#pricing {
  padding-top: 20px;
  padding-bottom: 20px;
}