.jumbotron {
  background-image: image_url('homev2.jpg');
  background-size: cover;
  height: 630px;
  color: white;
  margin-bottom: 40px;
  padding-top: 150px;
  text-shadow: 1px 1px 3px rgb(80, 80, 80);
}

.features {
  padding: 0 20px;
}

.comments {
  padding-top: 5px;
  padding-bottom: 20px;
}

.comment {
  padding: 0 70px;
}

.border img {
  border-radius: 50%;
  padding-bottom: 4px;
}

.lead {
  background: rgba(190, 190, 190, .7);
  display: inline-block;
}

.lead h3 {
  padding: 0.2em;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 2em;
}

.light-grey {
  background-color: #ecf0f1;
}

.spacer {
  margin-top : 3em;
}

.counter {
  h2 {
    color: $light-blue;
  }
  h4 {
    color: #7f8c8d;
  }
}